@charset "UTF-8";

html, body { height: 100%; }

body {
  border-top: 10px solid #343434;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.center {
  text-align: center;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5em;
}

#wrap > *:last-child {
  padding-bottom: 5em;
}

#footer {
  height: 5em;
}

ul, ol {
  margin-left: 20px;
}

ul.no-bullet, ol.no-bullet {
  margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Open Sans", Helvetica, sans-serif;
}

h1, .resize-h1 { font-size: 29px; }

h2, .resize-h2 { font-size: 26px; }

h3, .resize-h3 { font-size: 23px; }

h4, .resize-h4 { font-size: 20px; }

h5, .resize-h5 { font-size: 17px; }

h6, .resize-h6 { font-size: 14px; }

textarea {
  min-height: 100px;
}

.supertitle {
  margin: 15px 0 -10px;
  color: #888;
}

#top-header > .columns {
  border-bottom: 1px dotted #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
}

#social-icons {
  text-align: right;
}

#social-icons a img {
  padding-top: 10px;
}

.listings li {
  padding: 5px 3px;
  color: #777777;
  border-bottom: 1px solid #eee;
}

.listings li span {
  float: right;
}

.apply-button {
  margin-top: 40px;
  text-align: center;
}

.fp-button {
  width: 35%;
}

.fp-drag {
  width: 60%;
  float: right;
}

.top-apply {
  padding-top: 25px;
  text-align: right;
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {

  .fp-button {
    width: 100%;
  }

}
