<div id="application-modal" class="reveal-modal small">
  <div class="row" id="application-form">
    <div class="large-12 small-12 columns">
      <h2>{{ page.title }} Application</h2>
      <p>Thanks for your interest in working for {{ page.company }}.  Fill out the form below to apply for the {{ page.title }} gig and someone will be in touch soon.</p>

    </div>
    <p class="center"><img src="/img/spinner.gif" style="display: none;" class="spinner" /></p>
    <div id="form-wrapper" class="large-12 small-12 large-centered small-uncentered columns">
      <form data-abide>

        <input type="hidden" name="jobId" value="{{ page.title }}" />

        <div class="row">
          <div class="large-3 small-3 columns">
            <label for="right-label" class="right inline">Name</label>
          </div>
          <div class="large-8 small-9 columns">
            <input type="text" name="name" placeholder="John Doe" required />
            <small class="error">Name is required.</small>
          </div>
          <div class="large-1 columns hide-for-small">&nbsp;</div>
        </div>

        <div class="row">
          <div class="large-3 small-3 columns">
            <label for="right-label" class="right inline">Email</label>
          </div>
          <div class="large-8 small-9 columns">
            <input type="email" name="email" placeholder="you@yourdomain.com" required />
            <small class="error">A valid email is required.</small>
          </div>
          <div class="large-1 columns hide-for-small">&nbsp;</div>
        </div>

        <div class="row">
          <div class="large-3 small-3 columns">
            <label for="right-label" class="right inline">Phone</label>
          </div>
          <div class="large-8 small-9 columns">
            <input type="text" name="phone" placeholder="555-555-5555" required />
            <small class="error">A valid phone number is required.</small>
          </div>
          <div class="large-1 columns hide-for-small">&nbsp;</div>
        </div>

        <div class="row">
          <div class="large-3 small-3 columns">
            <label for="right-label" class="right inline">Website</label>
          </div>
          <div class="large-8 small-9 columns">
            <div class="row collapse">
              <div class="hide-for-small large-2 columns">
                <span class="prefix">http://</span>
              </div>
              <div class="small-12 large-10 columns">
                <input type="text" name="url" placeholder="Your personal website" />
              </div>
            </div>
          </div>
          <div class="large-1 columns hide-for-small">&nbsp;</div>
        </div>

        <div class="row">
          <div class="large-3 small-3 columns">
            <label for="right-label" class="right inline">Twitter</label>
          </div>
          <div class="large-8 small-9 columns">
            <div class="row collapse">
              <div class="small-1 large-1 columns">
                <span class="prefix">@</span>
              </div>
              <div class="small-11 large-11 columns">
                <input type="text" name="twitter" placeholder="Your Twitter handle" />
              </div>
            </div>
          </div>
          <div class="large-1 columns hide-for-small">&nbsp;</div>
        </div>

        <div class="row">
          <div class="large-3 small-3 columns">
            <label for="right-label" class="right inline">Github</label>
          </div>
          <div class="large-8 small-9 columns">
            <div class="row collapse">
              <div class="hide-for-small large-5 columns">
                <span class="prefix">http://github.com/</span>
              </div>
              <div class="small-12 large-7 columns">
                <input type="text" name="github" placeholder="Your Github handle" />
              </div>
            </div>
          </div>
          <div class="large-1 columns hide-for-small">&nbsp;</div>
        </div>

        <br /><br />

        <div class="row">
          <div class="large-3 small-3 columns">
            <label for="right-label" class="right inline">Resume</label>
          </div>
          <div class="large-8 small-9 columns">
            <input type="filepicker-dragdrop" name="resume" data-fp-apikey="Afv52aizQXexkGcRWwYaZz" data-fp-container="modal" data-fp-maxsize="5242880" data-fp-button-class="button small large-3 fp-button" data-fp-drag-class="fp-drag hide-for-small" data-fp-services="BOX,COMPUTER,DROPBOX,GITHUB,GOOGLE_DRIVE,EVERNOTE,GMAIL,URL,FTP">
          </div>
          <div class="large-1 columns hide-for-small">&nbsp;</div>
        </div>

        <div class="row">
          <div class="large-3 small-3 columns">
            <label for="right-label" class="right inline">Additional Comments</label>
          </div>
          <div class="large-8 small-9 columns">
            <textarea name="comments" placeholder="What makes you a great fit for this job?"></textarea>
          </div>
          <div class="large-1 columns hide-for-small">&nbsp;</div>
        </div>

        <br /><br />

        <div class="row">
          <div class="large-3 small-3 columns">&nbsp;</div>
          <div class="large-8 small-9 columns">
            <input type="submit" value="Apply Now!" class="button success expand" />
          </div>
          <div class="large-1 columns hide-for-small">&nbsp;</div>
        </div>


      </form>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
